<div class="large-8 columns">
	<div class="content">
		<% @entries.each do |entry| %>
			<article>
				<header>
					<h1><%= link_to entry.title, entry_path(entry) %></h1>
				</header>
					<p><%= entry.body %></p>
				<footer>
					<small><%= posted(entry) %></small>
				</footer>
			</article>
			<hr>
		<% end %>

		<%= will_paginate @entries %>
	
		<section id="admin-box">
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to "Create Entry", new_entry_path %>
			<% end %>
		</section>
	</div>
</div>

<div class="large-4 columns">
     <%= render 'layouts/sidebar' %>
</div>