<div class="large-8 columns">
	<% @entries.each do |entry| %>
		<article>
			<header>
				<h1><%= link_to entry.title, entry_path(entry) %></h1>
			</header>
				<%= entry.body %>
			<footer>
				<small><%= entry.created_at %> | Posted by 
						<%= link_to entry.user.username, user_path(entry.user) %></small>
			</footer>
		</article>
	<% end %>

	<%= will_paginate @entries %>
</div>
<div class="large-4 columns">
     <%= render 'layouts/sidebar' %>
</div>