<% provide(:title, @user.username) %>

<div class="large-12 columns">
	<div class="content">
		<h1><%= @user.username %></h1>

		<table>
			<tr>
				<td colspan="2"><%= image_tag "person.gif" %></td>
			</tr>
			<tr>
				<th>Comments</th>
				<td><%= @user.comments.count %></td>
			</tr>
			<tr>
				<th>Registered</th>
				<td><%= @user.created_at %></td>
			</tr>
		</table>

		<section id="admin-box">
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to "Edit User", edit_user_path(@user) %> | 
				<%= link_to "Delete User", user_path(@user), method: :delete, 
						data: { confirm: "Are you sure?"} %>
			<% end %>
		</section>
	</div>
</div>