<% provide(:title, "Carts") %>

<div class="large-12 columns">
	<div class="content">
		<h1><%= pluralize(@carts.count, "Cart") %></h1>

		<section id="carts-index">
			<% @carts.each do |cart| %>	
				<div class="cart">		
					<%= link_to(image_tag("person.gif"), cart, class: "th") %>
					<%= link_to cart.name, cart %>
					<%= cart.location %>, 
					<%= cart.comments.count %> Comments
				</div>		
			<% end %>
		</section>

		<section id="admin-box">
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to "Add New Cart", new_cart_path %>
			<% end %>
		</section>
	</div>
</div>